@page
@using CoinR.Models
@using CoinR.Views.Home
@using Microsoft.EntityFrameworkCore.Storage
@model CoinR.Views.Home.Home

@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     
}
<html lang="de">
@foreach (var currency in Home.cryptoCurrencies)
{
@*      *@
@*     <tr> *@
@*         <td>@currency.name</td> *@
@*         <td>@currency.logo</td> *@
@*         <td>@currency.rating</td> *@
@*         <td>@currency.symbol</td> *@
@*         <td>@currency.symbol</td> *@
@*         <td>@currency.chart</td> *@
@*     </tr> *@
     <div class="currencyWrapper">
          <div class="currencyContainer">
               <h1>@currency.name</h1>
               <img class="currencylogo" src="@currency.logo.pathToImg" alt="currency logo"/>
               <p class="currencyrating">@currency.rating</p>
               <p class="currencysymbol">@currency.symbol</p>
               @* <img src="@{ new Chart(width: 800, height: 200) .AddSeries( chartType: "line", xValue: new[] {10, 20, 30}, yValues: new[] {10, 20, 30}) .Write(); }" class="currencychart"/> *@
               <asp:LinkButton class="detailslink fas fa-angle-right" onclick="@("window.location.href='" + @Url.Action(@currency.detailslink, "Home") + "'");"/>
          </div>
          
     </div>


}
</html>


