@page
@using System.Security.Claims
@using CoinR.Controllers
@using CoinR.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.CodeAnalysis
@using Microsoft.JSInterop
@model IndexModel
@{
    ViewData["Title"] = "Account";
}
<div class="fullwidth">
    <div class="left">
        <h1 class="greeting">Hi</h1>
        <h1 class="yellow greeting">@User.FindFirst(ClaimTypes.Name).Value</h1>
        <h1 class="greeting">!</h1>
    </div>

    <div class="right">
        <h1>CURRENT BALANCE</h1>
        <div class="col-12">
            <h2 class="d-inline">CoinR Account: </h2>
            <h2 class="d-inline green">2523,13€</h2>
        </div>
    </div>
</div>

<div class="fullwidth">
    <div class="left">
        <h1 class="AccountdescriptionElements">YOUR WATCHLIST</h1>
        <div class="accountdetailsContainer">
            <label id="watchlistErrorLabel"></label>
            <table class="watchlist">
                <thead>
                <td class="col-5"></td>
                <td class="col-4">Price</td>
                <td class="col-4">Rating</td>
                <td class="col-1"></td>
                </thead>
                <tbody>
                @{
                    int i = 1;
                    @foreach (var currency in Account.watchlist)
                    {
                        <tr>
                            <td>#@i @currency.Text</td>
                            <td>@CryptoCurrencyService.getPriceByName(@currency.Value) @CryptoCurrencyService.getCurrencySymbol()</td>
                            <td class="ratingvalue">@CryptoCurrencyService.getByName(@currency.Value).rating</td>
                            <td class="fas fa-times-circle"></td>
                        </tr>
                        i++;
                    }
                }

                </tbody>
            </table>
        </div>
        <h1 class="AccountdescriptionElements">ADD TO WATCHLIST</h1>
        <div class="accountdetailsContainerNarrow">
          
                <form asp-action="AddToWatchList" asp-controller="Home" method="post" enctype="multipart/form-data">
                    <asp:dropdownlist>
                        <select id="currencyselect" asp-for="Currency" asp-items="Account.currencies" name="currencyselect" onchange="getSelectedCurrency()"></select>
                    </asp:dropdownlist>
                    <button class="watchlistbtn" type="submit" value="add to watchlist"></button>

                </form>
                </div>
    </div>


    <div class="right">
        <h1 class="AccountdescriptionElements">DEPOSIT MONEY</h1>
        <div class="accountdetailsContainer">

        </div>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
}
<script>
$(function(){
                            
                        let ratingvalues = document.getElementsByClassName("ratingvalue");
                        for (i = 0; i < ratingvalues.length;i++){
                            if(ratingvalues[i].innerText == "buy"){
                               ratingvalues[i].classList.add("green");    
                             }
                             else if (ratingvalues[i].innerText == "sell"){
                               ratingvalues[i].classList.add("red");    
                             }
                             else if (ratingvalues[i].innerText == "outperform"){
                              ratingvalues[i].classList.add("yellow");    
                             }
                           }
                        });


function sendSelectedCurrency()
    {
      let a  = $( "#currencyselect option:selected" ).text();
      console.log(a);
      
    }

</script>